<div class="card-body">
        <div class="table-responsive">
            <div class="container-add-right">
                <div class="container-add">
                    <a href="/admin/addAdmin" class="container-add-click">Add</a>
                </div>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Quyền hạn</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td width="5%" align="center">{{sum @index 1}}</td>
                        <td width="30%" align="center">{{this.fullname}}</td>
                        <td align="center">{{this.username}}</td>
                        <td align="center">{{this.role_name}} 
                        </td>
                        <td width="15%">
                            <div class="function_click">
                                <a href="/admin/detail-admin/{{this.username}}" class="function_click-see">
                                    <i class="fas fa-fw fa-bars"></i>
                                </a>
                                <a href=""class="function_click-edit">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href="" class="function_click-delete">
                                    <i class="fas fa-fw fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>