<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/img_slider/slider1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/img_slider/slider2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/img_slider/slider3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="bi bi-arrow-left-circle left_icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="bi bi-arrow-right-circle right_icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Store offers -->
    <div class="content_store">
        <div class="text_store">
            <h2>DỊCH VỤ</h2>
            <p>Khách hàng sẽ nhận được nhiều <br> ưu đãi khác nhau</p>
        </div>

        <div class="endows">
            <div class="endow_content">
                <img src="/img/img_endows/free-delivery.jpg" alt="">
                <div class="endow_text">
                    <h5>MIỄN PHÍ VẬN CHUYỂN</h5>
                    <p>Đối với đơn đặt hàng trên $100</p>
                </div>
            </div>
            <div class="endow_content">
                <img src="/img/img_endows/diet.jpg" alt="">
                <div class="endow_text">
                    <h5>HOA QUẢ TƯƠI SẠCH</h5>
                    <p>Quy trình nhập hàng, vận chuyển, <br> bảo quản chuyên nghiệp</p>
                </div>
            </div>
            <div class="endow_content">
                <img src="/img/img_endows/award.jpg" alt="">
                <div class="endow_text">
                    <h5>CHẤT LƯỢNG CAO</h5>
                    <p>Đặt sức khỏe người tiêu dùng <br> lên hàng đầu</p>
                </div>
            </div>
            <div class="endow_content">
                <img src="/img/img_endows/customer-service.jpg" alt="">
                <div class="endow_text">
                    <h5>HỖ TRỢ</h5>
                    <p>24/7</p>
                </div>
            </div>
        </div>
    </div>
    <!--  End Store offers-->

    <div class="lines"></div>

<!-- -Vegetable- -->
    <div class="content_news">
        <div class="text_news">
            <h2>Rau</h2>
            <p>Rau tươi và sạch an toàn vệ sinh thực phẩm</p>
        </div>
        <div class="all_product">
            <div class="list_product">
        <div class="row_product" id="product">
            {{!-- <form action="" method="POST"> --}}
                {{#each products}}
                <div class="col_product">
                    <div class="product_item">
                        <div class="product_img">
                            <img src="/upload/{{this.product_img}}" alt="">
                        </div>
                        <div class="product_text" style="text-align: center !important;">
                            <h6>{{this.product_name}}</h6>
                            <input id="quanity_product" type="number" name="quanity" min="1" value="1"
                                style="width : 35px ; margin-bottom:15px"> KG
                            <div class="product_price">
                                {{this.product_price}}
                            </div>
                        </div>


                        <div class="icon_product">
                            <a href="/san-pham/detail-product/{{this.product_name}}" class="favorites">Chi tiết</a>
                            <button class="btn_button" data-bs-toggle="modal" data-bs-target="#id_modal_1" data-product-id="{{this._id}}">
                                Thêm Giỏ
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}


                {{#if session.User}}
                <!-- Modal -->
                <div class="modal" tabindex="-1" id="id_modal_1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xác Nhận Thêm Giỏ Hàng</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn Có Muốn Thêm Sản Phẩm Vào Giỏ Hàng ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn" id="btn_id_">Xác Nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <!-- Modal -->
                <div class="modal" tabindex="-1" id="id_modal_1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Bạn Chưa Đăng Nhập</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Hãy Đăng Nhập Để Thêm Sản Phẩm</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="/login" class="btn">
                                    Đăng Nhập
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{!--
            </form> --}}


        </div>
    </div>
        </div>
    </div>

    <div class="view_all">
        <button class="btn_all"><a href="">Xem tất cả </a></button>
    </div>
    </div>
    <!-- -End Vegetable- -->

    <div class="lines"></div>

    <script>
    let modal = document.getElementById('id_modal_1');

    modal.addEventListener('show.bs.modal', function (e) {
        let _id = e.relatedTarget.getAttribute('data-product-id');
        let button = document.createElement("button");

        let onclickFun = "submitData('" + _id + "')";

        button.setAttribute("id", "btn_id_");
        button.setAttribute("onclick", onclickFun);
        button.classList.add("btn", "btn-primary");
        button.textContent = "Xác Nhận";

        document.getElementById("btn_id_").remove();

        e.target.querySelector('.modal-footer').appendChild(button);

    })


    function submitData(_id) {
        let form = document.createElement("form");
        form.setAttribute("action", "/san-pham");
        form.setAttribute("method", "Post");
        form.setAttribute("style", "display: none");
        let id = document.createElement("input");
        id.setAttribute("name", "_id");
        id.value = _id;
        let quanity = document.getElementById("quanity_product");
        form.appendChild(quanity);
        form.appendChild(id);
        document.body.appendChild(form);
        form.submit();
    }
</script>
